/*Layout section*/
.app-container{
  display: grid ;
  height: 100vh;
  grid-template-rows: 15vh 75vh 10vh; /* Adjusted for footer positioning */
  grid-template-columns: 1fr; /* Single column layout */
  position: relative; /* Needed for absolute positioning of children */
  margin:0px;
  padding:0px;
  /* opacity: 1; /*For web application navigation transitions*/
  /*transition: opacity 0.5s ease-in-out; */
  
}
.nav-container{
  grid-row: 1;
  grid-column: 1;
  display: flex;
  margin:20px 40px;
  z-index: 999;
}
.animation-container{
  grid-row: 1 / span 3;
  grid-column: 1;
  position: relative; /* Maintain relative positioning for 3D animations */
}
.main-container{
  grid-row: 2;
  grid-column: 1;
  position: absolute; /* Layer above the animation */
  margin-top:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0; /* Align with the top of the animation */
  left: 0; /* Align with the left of the animation */
  width: 100%; /* Full width to cover the animation */
  height: 90%; /* Full height to cover the animation */
  z-index: 1; /* Ensure it appears above the animation */
}
.footer{
  grid-row: 3; /* Updated to be below the main and animation containers */
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:20px;
  z-index: 999;
}

/*Main buttons*/
.main-btns-container{
  
}
.main-rows-btns-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-rows-btns-container a{
  text-decoration: none;
}
.main-btns-container a{
  text-decoration: none;
  padding: 10px;
}
.main-btns-lightMode{
  color: black;
  padding:15px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 90px;
}
.main-btns-darkmode{
  color: white;
  padding:15px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 90px;
}
.main-btns-lightMode:hover{ /*main-btns-lightmode*/
  animation-delay: 0ms;
  animation-duration: 0.5s;
  animation-name: btnAnimationLight;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.main-btns-darkmode:hover{
  animation-delay: 0ms;
  animation-duration: 0.5s;
  animation-name: btnAnimation;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.nav-container ul{
  display: flex;
  margin-left:auto;
  list-style-type: none;
}
.nav-container a{
  margin:0px 10px;
  text-decoration: none;
}
.nav-container a:hover{
  font-weight: bold;
}
.nav-container h3{
  cursor: pointer;
}
.home-icon{
  width:100px;
  cursor: pointer;
}
.nav-toggle-theme{
  display: flex;
  width:35px;
  height:15px;
  cursor: pointer;
  margin-top:23px;
  margin-left:30px;
}
.masthead-container{
  margin-top:100px;
}
.masthead-typedtext{
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.lower-masthead-anim{
  opacity: 0;
  margin-top:80px;
  animation-delay: 8s;
  animation-duration: 10s;
  animation-name: fadeIn;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.lower-masthead{
  margin-top:80px;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
  100% {
    opacity: 1;
  }
}
.masthead-btn-container{
  display: flex;
  justify-content: center;
}
.masthead-btn-container a{
  text-decoration: none;
  width:max-content;

}
.masthead-btns-darkMode{
  color:white;
  padding:15px;
  margin:10px;
  margin-left:10px;
  border-radius: 20px;
  cursor: pointer;
}
.masthead-btns-darkMode:hover{
  animation-delay: 0ms;
  animation-duration: 0.5s;
  animation-name: btnAnimation;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.masthead-btns-lightMode{
  color:black;
  padding:15px;
  margin:10px;
  margin-left:10px;
  border-radius: 20px;
  cursor: pointer;
}
.masthead-btns-lightMode:hover{
  animation-delay: 0ms;
  animation-duration: 0.5s;
  animation-name: btnAnimationLight;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.projects-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin:0px 180px;
}
.project-btns-container{
  justify-content: center;
  flex-direction: column;
}
.projects-container a{
  text-decoration: none;
  text-align: center;
  width: max-content;
  margin:0px auto;
}
.projects-btns-darkMode{
  color:white;
  padding:15px;
  border-radius: 20px;
  cursor: pointer;
}
.projects-btns-darkMode:hover{
  animation-delay: 0ms;
  animation-duration: 0.5s;
  animation-name: btnAnimation;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.projects-btns-lightMode{
  color:black;
  padding:15px;
  margin:10px;
  margin-left:10px;
  border-radius: 20px;
  cursor: pointer;
}
.projects-btns-lightMode:hover{
  animation-delay: 0ms;
  animation-duration: 0.5s;
  animation-name: btnAnimationLight;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.about-text-lightMode{
  font-weight: lighter;
  font-family: Roboto-black;
  margin:0px 60px;
}
.about-text-darkMode{
  font-size:large;
  font-family: Robot-white;
  margin:0px 250px;
}
@font-face {
  font-family: Roboto-black;
  src: url("./Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Robot-white;
  src: url("./Roboto/Roboto-Light.ttf");
}

/*Buttons animation logic here */
@keyframes btnAnimation {
  from {
      background-color: black;
      color:white;
    }
  to{
    background-color: white;
    color:black;
    }
}
@keyframes btnAnimationLight {
  from {
    background-color: white;
    color:black;
  }
  to {
    background-color: black;
    color:white;
  }
}
.masthead-icons{
  margin-left: 280px;
  position: absolute;
  animation-name: mastheadIcon;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
 @keyframes mastheadIcon {
    from{
      margin-left:280px;
    }
    to{
      margin-left:320px;
    }
 }
 @keyframes react-fadeToLight{
  from{
    background-color:"black";
  }
  to{
    background-color: "white";
  }
}
@keyframes react-fadeToDark{
  from{
    background-color: "white";
  }
  to{
    background-color: "black";
  }
}
.background-animation{
  height: inherit;
  background-color: inherit;
  transition: background-color 0.5s ease
}

.footer :hover{
  color:rgb(0, 0, 0);
}
/*Transitions*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

/**Project List container*/
.project-list-container {
  display: flex; /* Arrange cards in a row */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;
  gap: 10px; /* Optional: Space between cards */
  padding: 25px; /* Optional: Inner padding for the container */
  white-space: nowrap;
  width: 55%;
  height: 400px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.project-list-container::-webkit-scrollbar { /**Ensuring the scrollbar is hidden*/
  display: none;  /* Safari and Chrome */
}

/**Project Cards*/
.card {
  min-width: 250px; /* Set a minimum width for cards */
  height: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Mobile Design specification*/
@media (max-width: 640px) { 
  .animation-container{
    position:absolute;
    background-color: rgba(41, 39, 39, 0);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-bottom: 100px;
  }
  .nav-container{
    width:100%;
    margin: 0px 0px;
  }
  .nav-container ul{
    display: none;
  }
  .home-icon{
    margin-left:10px;
    margin-top:30px;
  }
  .nav-toggle-theme{
    margin-left:auto;
    margin-right:40px;
    margin-top:60px;
  }
  .nav-items-container-darkMode{
   position: absolute;
   z-index:999999999;
   display: flex;
   flex-direction: column;
   align-items: center;
   width:100%;
   height: 100%;
   background-color: black;
   color:white
  }
  .nav-items-container-lightMode{
    position: absolute;
    z-index:999999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: white;
    color:black;
  }
  .nav-links-container{
    padding-top: 20px;
  }
  .nav-items-darkMode{
    text-decoration: none;
    color: white;
    padding:40px;
  }
  .nav-items-lightMode{
    color:black;
    padding:40px;
    text-decoration: none;
  }
  .nav-icon{
    width: 15px;
    position: relative;
    margin-left:auto;
    margin-right: 30px;
  }
  .masthead-container{
    margin:0px 35px;
    margin-top:50px;
  }
  .lower-masthead{
    margin-top:40px;
    margin-right:40px;
  }
  .masthead-btn-container{
    margin-right:5px;
    font-size: smaller;;
  }
  .masthead-icons{
    margin-left: 280px;
    position: absolute;
    animation-name: mastheadIcon;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  .projects-container{
    margin: 0px 20px;
  }
  .projects-btns-darkMode{
    padding:20px;
  }
  .projects-btns-lightMode{
    padding: 20px;
  }
  .footer{
    margin-top:10%;
  }
}
